.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    
}

.logo{
    font-size: 30px;
    font-weight: bold 600;
    color: royalblue;
}

.nav_menu {
    display:flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}

.nav_items {
    padding: 0 20px;
    cursor: pointer;
    opacity: 0.8;
  


}
.nav_items:hover{
    opacity: 1;
    color: royalblue;

}
.fas{
    font-size: 20px;
    padding: 0 10px;
    
}
@media (max-width: 500px){
    .nav_menu{
        display: none;
    }
    

}