.servicecontainer{
    
   
    height: 80vh; 
    display: flex;
   justify-content: space-around;

}

.servicedetailcontainer{
   
    padding: 30px ;
    text-align: center;
}
.verticleline{
    border-left: 1px solid green;;
}
.slogo{
  color: royalblue;
  font-size: 32px;
}
.colortext{
    color: royalblue;
    font-size: 20px;
    margin-top: 35px;
}
.toollist {
    list-style: none;
    text-align: center;
}

.toollist li{
    margin: 15px 0;
    font-size: 18px;
}
@media (max-width: 500px){
    
       
    

}