.workcontainer{
   

    margin: 150px 50px;
    height: 100%;

}
.worktext{
    text-align: center;

}

.workdatacontainer{
    margin: 60px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.workrow {
    display: flex;
  
}

.workdata{
    margin: 10px;
    border-radius: 20px;
}

.workdata img{
    border-radius: 20px;

}

.workdata:hover{
    opacity: 0.5;
    transition: 0.3s;
    cursor: pointer;
}

.workbtn{
    margin: 80px 0 80px 40%;
    padding: 20px 50px;
    font-size: 18px;
    border-radius: 10px;
    border-color: royalblue;
    color: royalblue;
    background-color: white;
   
}

.workbtn:hover{
    background-color: royalblue;
    color: white;
    cursor: pointer;
    transition: 0.2s;
    
}

.hirebtn{
    margin: 40px 0 40px 40%;
}
.workdata img{
    width: 80%;
    height: 80%;

}
.Suscribe{
    padding-left: 50%;
}

.footer_line{
    margin-top: 40px;
    font-size: 30px;
    padding-left: 200px;
    
}
.top {
    text-decoration: none;
    font-family: sans-serif;
    color: #fff;
    background: #000;
    border-radius: 150px;
    height: 25px;
    width: 25px;
    font-size: 50px;
    padding-bottom: 40px;
    padding-top: 10px;
   

    
}

  .top i{
      padding-top: 5px;
      font-size: 20px;
  }
  @media (max-width: 500px){
    .workcontainer{
        margin-top: 400px;
    }
    .workdata img{
        width: 110%;
        height: 110%;
        
    
    }
    .workdata{
        margin-left: 20px;
        margin-bottom: 20px;
    }
    .workbtn{
        margin: 30px 0 50px 15%;
        
    }
    

}