.bigbox{
    background-color: #16558f;
    color: white;
    border-radius: 8px;
    margin-bottom: 10px;
    background-color: #3CAEA3;
    
}

.topbox{
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  padding: 30px 50px 0 50px;
}

.line{
  border-top: 1px solid white;
  margin: 10px 0;
}

.fab{
  margin: 0 5px;
}
.midboxfooter{
  display: flex;
  justify-content: space-between;
  padding: 10px 30px ;
  align-items: center;
}

.bold{
  font-weight: 600;
  text-transform:uppercase;
}

.inputformat{
  
  border: 1px solid white;
  color: black;
  padding: 8px;
}

.suscribebtn{
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  font-size: 16px;
  cursor: pointer;
}

.suscribebtn:hover{
  background-color: #051f38;
  color: aliceblue;
}

.footbox{
  background-color: #051f38;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  margin-top: 30px;
}



.back_top i {
color: white;
font-size: 24px;
cursor: pointer;
}
@media (max-width: 500px){
  .topbox{
    
  
    font-size: 18px;
   
  }
  .midboxfooter{
   flex-direction: column;
   padding: 0;
   margin: 0;
   justify-content: left;
   align-items: left;
    
  
  }
  .footer_line{
    font-size: 10px;
  }
  


}

