body{
  margin: 0 30px;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;

}

a{
  color: white;
}
h3{
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}
p{
  font-size: 18px;
  font-weight: 500;
  
}